<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Feature Id='CisteraVNC'
             Title='CisteraVNC'
             Description='CisteraVNC includes three components, Server, Viewer and Bonjour. All of them are installed by default.'
             Display='expand'
             Level='1'
             ConfigurableDirectory='INSTALLDIR'>
      <Feature Id='Server'
               Title='CisteraVNC Server'
               Description='CisteraVNC Server makes this computer available for remote viewers.'
               Level='1'>
        <ComponentRef Id='ServerExe' />
        <ComponentRef Id='SasDll' />
        <ComponentRef Id='ProgramMenuDir' />
        <ComponentRef Id='ServerMenuDir' />
        <ComponentRef Id='ServiceMenuDir' />
        <ComponentRef Id='tvnserverFirewallException'/>
        <ComponentRef Id='LogFolderPermissions'/>
      </Feature>
      <?ifndef VIEWER_FREE ?>
      <Feature Id='Viewer'
               Title='CisteraVNC Viewer'
               Description='CisteraVNC Viewer is used to view and control remote computers.'
               Level='1'>
        <ComponentRef Id='ProgramMenuDir' />
        <ComponentRef Id='ViewerExe' />
        <ComponentRef Id='ViewerFileAssoc' />
        <ComponentRef Id='TvnviewerFirewallException'/>
      </Feature>
      <?endif?>
      <Feature Id='Bonjour'
               Title='Apple Bonjour'
               Description='Apple Bonjour module is used by Server to broadcast services over LAN.'
               Level='1'>
        <ComponentRef Id='ProgramMenuDir' />
      </Feature>
      <!-- Always installing component -->
        <ComponentRef Id='ProgramMenuDir' />
      <ComponentRef Id='UrlComponent'/>
      <ComponentRef Id='LicenseFileComponent'/>
    </Feature>
  </Fragment>
</Wix>
